@model PageListModel<DocumentModel>
@{
    ViewBag.Title = Text.The_documents;
}

<!--Page Heading -->
<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        <a asp-action="Index" asp-controller="Document" asp-route-Id="@null" class=" text-gray-800">
            @ViewBag.Title
        </a>
    </h1>
    @if (User.FindFirst(ClaimTypes.Role).Value == RoleOptions.Admin.ToString())
    {
        <a asp-action="Create" asp-controller="Document" asp-route-returnUrl="@ViewBag.Url" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> @Text.Create_a_document</a>
        <a asp-action="Create" asp-controller="Document" asp-route-returnUrl="@ViewBag.Url" class="d-block d-sm-none btn btn-success btn-circle shadow-sm">
            <i class="fas fa-plus"></i>
        </a>
    }
</div>
<div class="row">
    <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Amour</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 400px;" src="img/undraw_posting_photo.svg" alt="">
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-6">
            <div class="card shadow mb-4" style="height: 527px;">
                <div class="card-body">
                    <div>
                        <h6 class="m-0 font-weight-bold text-primary">Amour</h6>
                        <h6 class="m-0 font-weight-bold text-primary">Amour</h6>
                        <h6 class="m-0 font-weight-bold text-primary">Amour</h6>
                    </div>
                    <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                    <a>Lire →</a>
                </div>
            </div>
    </div>
</div>
